/*MAIN PAGE BACKGROUD*/
html{ 
   width:auto; 
height:auto;
margin-left:auto;
margin-right:auto;

margin-top:auto;
   
   }
/*LOGO STYLING*/

#toplogo{
  margin-top:0em
 margin-left:0em;
  margin-right:2em;
  margin-bottom:0em;
   background-color:white;
   
    
 }
#linke{
  padding-right:0;
    display:inline;
   
   font : 1.6em/100% helvetica;
   margin:2em;
   float:right;
   background-color:none;
   
  
 }

/*HEADER STYLING*/
h1{
   
   font : 3em/150% arial black;
   color:#191919;
   background-image:url(bb.jpg);
   align:centre;
 
  }
div{ 
     color:#2E4053;
     background:none;
   }
/*scroll menue*/
#ulr {
  display:flex;
   
    padding: 0;
margin-top:;


  width: 25%;

 
}
body{
  width:100%;
height:100%;
   text-align:left;
   padding : 0 em;
  margin : 0 auto;
   background-color:white;
	
  }

#lir {
font : 1.2em/150% arial black;
color;
margin-right:4.5em;
margin-left: 0.5em;
 

 font-size:0.9em;
 
  
}

a {
  font-size:0.9em;
  
  text-decoration: none;
  margin-left:auto;
  
  line-height:1.5;
 color:black;
 width:100%;
 height-100%;
}

#lir:last-child a {
  
}

a:link, a:visited, a:focus {
  background: none;
}

a:hover {     
   color: #47B5C1;
  background: none;
}

a:active {
  background:;
  color:grey;
}

#foot { 

    padding-top:0.5em;
    padding-left:2em;  
    
   
    background-image:url(foot.jpg); 
   background-size:cover;
   
} 
#reach{
   
    font :1em helvetica;
   margin:0 auto;
  }


#copy{
     margin:0 auto;
    font : 0.9em helvetica;
   background:#DFE6E9
}
#ico{
       display:inline;
        padding-left:0 auto;
        padding-right:0 auto;

     
  }
h3{
 color:white;
font : 1.3em bradley hand;
 }
#imgt{
width: 100%;
height:100%;
}
ul {
  
  width:auto;
}

li {
  display: inline;
}
#am {
font : 1.4em/150% bradley hand;
font-size:2.75vw;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 21.5%;
  margin-right:2.5%;
  text-align: center;
  line-height: 3;
line-width: auto;
  color: black;
border:2px solid black;
border-radius:10px;
  
background:grey  ;

}
#block{
 background-image:url(block.png);
background-size:cover;
padding-top:1em;
padding-bottom:1em;
 }
#tophe{
	margin:0 auto;
  	width:auto;
	height:auto;
}
    
